# salvo_export_broadband_line

Notebook to export just the broadband measurements from the three lines in 2024

In [105]:
import os
import numpy as np
import pandas as pd
import warnings

from modules.salvoimport import load_salvo_data_str, load_gml_albedo, preprocess_rap
from modules.salvoproc import line_date_agg

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [106]:
# Load SALVO data
salvo_data_root_path = os.path.join("C:/", "Users", "dclemenssewall", "Desktop", "DavidCS", "NOAA", "projects", 
                                    "SALVO", "data", "salvo-2024-backup", "SALVO-2024-20240619-1305")

with warnings.catch_warnings():
    warnings.simplefilter('ignore')
    df = load_salvo_data_str(salvo_data_root_path, dates=None,insts=['kz-mobile'], sites=['arm', 'beo', 'ice'])

In [110]:
df_duplicated_diff = (df[df.duplicated(keep='first')].sort_index() - df[df.duplicated(keep='last')].sort_index()).dropna()

In [111]:
df_duplicated_diff.iloc[np.nonzero(df_duplicated_diff.values)[0]]

Empty DataFrame
Columns: [value]
Index: []

In [112]:
df_line

                                                                              value
date_akdt  timestamp_akdt site position repetition variable
2024-04-17 16:03          ice  0.0      1.0        incident_solar_W_m2   435.970000
                                                   reflected_solar_W_m2  353.780000
                                                   albedo                  0.811478
2024-04-19 13:06          arm  0.0      1.0        incident_solar_W_m2   349.750000
                                                   reflected_solar_W_m2  288.380000
...                                                                             ...
2024-06-17 14:30          beo  200.0    1.0        albedo                  0.158003
           14:37          beo  200.0    2.0        albedo                  0.157848
2024-06-18 13:32          ice  200.0    1.0        incident_solar_W_m2   412.380000
                                                   reflected_solar_W_m2  249.390000
                                                   albedo                  0.604758

[4221 rows x 1 columns]

In [55]:
df_line.xs(('2024-05-27', 'incident_solar_W_m2'), level=('date_akdt', 'variable'))

                                          value
timestamp_akdt site position repetition
12:18          arm  0.0      1.0         538.90
                             1.0         538.90
12:21          arm  5.0      1.0         516.26
                             1.0         516.26
                    10.0     1.0         515.59
...                                         ...
12:42          arm  190.0    1.0         536.21
                    195.0    1.0         538.54
                             1.0         538.54
12:43          arm  200.0    1.0         541.87
                             1.0         541.87

[82 rows x 1 columns]

In [30]:
df_line['timestamp_akdt'].dt.strftime('%H:%M')

0       16:03
1       16:03
2       16:03
3       13:06
4       13:06
        ...
4216    14:30
4217    14:37
4218    13:32
4219    13:32
4220    13:32
Name: timestamp_akdt, Length: 4221, dtype: object

In [22]:
df_line['timestamp_akdt']

0      2024-04-17 16:03:00-08:00
1      2024-04-17 16:03:00-08:00
2      2024-04-17 16:03:00-08:00
3      2024-04-19 13:06:00-08:00
4      2024-04-19 13:06:00-08:00
                  ...
4216   2024-06-17 14:30:00-08:00
4217   2024-06-17 14:37:00-08:00
4218   2024-06-18 13:32:00-08:00
4219   2024-06-18 13:32:00-08:00
4220   2024-06-18 13:32:00-08:00
Name: timestamp_akdt, Length: 4221, dtype: datetime64[ns, UTC-08:00]